Source: haskell-help
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts, hscolour,
               ghc (>= 6.8),
               ghc-doc,
               ghc-haddock,
               ghc-prof,
               libghc-extra-prof (>= 1.23),
               libghc-extra-doc (>= 1.23)
Standards-Version: 3.7.2.2
Homepage: http://src.seereason.com/haskell-help

Package: libghc-help-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Generate manpages, command-line, and option parsing from a unified spec
  .
  This package contains the normal library files.

Package: libghc-help-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}, libghc-help-dev
Description: Generate manpages, command-line, and option parsing from a unified spec
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc-help-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Generate manpages, command-line, and option parsing from a unified spec
  .
  This package contains the documentation files.
